<!DOCTYPE html>
 <html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
     <head>
		<div th:replace="~{fragment :: meta}"></div>

		<div th:replace="~{fragment :: styles}"></div>

		　<!-- Flatpickr -->
		　<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

         <title>店舗詳細</title>
     </head>
     <body>
         <div class="nagoyameshi-wrapper">
             <!-- ヘッダー -->
             <div th:replace="~{fragment :: header}"></div>

             <main>
                 <div class="container pt-4 pb-5 nagoyameshi-container">
                     <div class="row justify-content-center">
                         <div class="col-xxl-9 col-xl-10 col-lg-11">
                            <div class="d-flex justify-content-between mb-4">
	                             <nav class="mb-4" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
	                                 <ol class="breadcrumb mb-0">
	                                     <li class="breadcrumb-item"><a th:href="@{/}">ホーム</a></li>
	                                     <li class="breadcrumb-item"><a th:href="@{/stores}">店舗一覧</a></li>
	                                     <li class="breadcrumb-item active" aria-current="page">店舗詳細</li>
	                                 </ol>
	                             </nav>
	                           	 <!-- お気に入り -->
	                             <div sec:authorize="isAuthenticated()">
	                                 <div th:if="${isFavorite}">
	                                     <a href="#" onclick="event.preventDefault(); document.getElementById('favorite-form').submit();">&#9829; お気に入り解除</a>
	                                     <form method="post" th:action="@{/stores/__${store.getId()}__/favorites/__${favorite.getId()}__/delete}" id="favorite-form" class="d-none"></form>
	                                 </div>
	                                 <div th:unless="${isFavorite}">
	                                     <a href="#" onclick="event.preventDefault(); document.getElementById('favorite-form').submit();">&#9825; お気に入り追加</a>
	                                     <form method="post" th:action="@{/stores/__${store.getId()}__/favorites/create}" id="favorite-form" class="d-none"></form>
	                                 </div>
	                             </div>
                             </div>

                             <h1 class="mb-4 text-center" th:text="${store.getName()}"></h1>

                             <div th:if="${errorMessage}" class="alert alert-danger">
                                 <span th:text="${errorMessage}"></span>
                             </div>

                             <div class="mb-4">
                                 <img th:if="${store.getImageName()}" th:src="@{/storage/__${store.getImageName()}__}" class="w-100" alt="店舗画像">
                                 <img th:unless="${store.getImageName()}" th:src="@{/images/noImage.png}" class="w-100" alt="NO IMAGE">
                             </div>

                             <div class="container">
                                 <div class="row">
                                     <div class="col-lg-8 container mb-4">
                                         <div class="row pb-2 mb-2 border-bottom">
                                             <div class="col-3">
                                                 <span class="fw-bold">店舗名</span>
                                             </div>

                                             <div class="col">
                                                 <span th:text="${store.getName()}"></span>
                                             </div>
                                         </div>

                                         <div class="row pb-2 mb-2 border-bottom">
                                             <div class="col-3">
                                                 <span class="fw-bold">説明</span>
                                             </div>

                                             <div class="col">
                                                 <span class="nagoyameshi-pre-wrap" th:text="${store.getDescription()}"></span>
                                             </div>
                                         </div>

		                                 <div class="row pb-2 mb-2 border-bottom">
		                                     <div class="col-3">
		                                         <span class="fw-bold">価格帯</span>
		                                     </div>

		                                     <div class="col">
		                                         <span th:text="${#numbers.formatInteger(store.getPriceFloor(), 1, 'COMMA') + '～' + #numbers.formatInteger(store.getPriceCap(), 1, 'COMMA') + '円'}"></span>
		                                     </div>
		                                 </div>

		                                 <div class="row pb-2 mb-2 border-bottom">
		                                     <div class="col-3">
		                                         <span class="fw-bold">営業時間</span>
		                                     </div>

		                                     <div class="col">
		                                         <span th:text="${#temporals.format(store.getOpeningTime(), 'H:mm') + '～' + #temporals.format(store.getClosingTime(), 'H:mm')}"></span>
		                                     </div>
		                                 </div>

                                         <div class="row pb-2 mb-2 border-bottom">
                                             <div class="col-3">
                                                 <span class="fw-bold">郵便番号</span>
                                             </div>

                                             <div class="col">
                                                 <span th:text="${store.getPostalCode()}"></span>
                                             </div>
                                         </div>

                                         <div class="row pb-2 mb-2 border-bottom">
                                             <div class="col-3">
                                                 <span class="fw-bold">住所</span>
                                             </div>

                                             <div class="col">
                                                 <span th:text="${store.getAddress()}"></span>
                                             </div>
                                         </div>

                                         <div class="row pb-2 mb-2 border-bottom">
                                             <div class="col-3">
                                                 <span class="fw-bold">電話番号</span>
                                             </div>

                                             <div class="col">
                                                 <span th:text="${store.getPhoneNumber()}"></span>
                                             </div>
                                         </div>
                                         <div class="row pb-2 mb-2 border-bottom">
		                                    <div class="col-3">
		                                        <span class="fw-bold">席数</span>
		                                    </div>

		                                    <div class="col">
                                       　　　　　　　　<span th:text="${store.getSeatingCapacity() + '席'}"></span>
		                                    </div>
		                                </div>
		                                <div class="row pb-2 mb-2 border-bottom">
		                                    <div class="col-3">
		                                        <span class="fw-bold">定休日</span>
		                                    </div>

		                                    <div class="col">
		                                        <span th:text="${store.getRegularHoliday() + '曜日'}"></span>
		                                    </div>
		                                </div>
                                     </div>

                                     <div sec:authorize="isAnonymous()" class="col-lg-4 px-0 ps-lg-4 mb-4">
                                         <div class="card">
                                             <div class="card-body">
                                                 <p class="card-text">予約するには<a th:href="@{/login}">ログイン</a>したあと有料プランに加入する必要があります。</p>
                                                 <button type="submit" class="btn text-white shadow-sm w-100 nagoyameshi-btn" disabled>予約する</button>
                                             </div>
                                         </div>
                                     </div>

                                    <div sec:authorize="hasRole('ROLE_PAID_MEMBER')" class="col-lg-4 px-0 ps-lg-4 mb-4">
										<div class="card">
											<div class="card-body">
												<form method="get"
													th:action="@{/stores/__${store.getId()}__/reservations/input}"
													th:object="${reservationInputForm}">
													<div class="form-group mb-2">
														<label for="reservationDate"
															class="col-form-label text-md-left fw-bold">予約日</label>
														<div th:if="${#fields.hasErrors('reservationDate')}"
															class="text-danger small mb-2" th:errors="*{reservationDate}">
														</div>
														<input type="text" class="form-control"
															th:field="*{reservationDate}">
													</div>

													<div class="form-group mb-2">
														<label for="reservationTime"
															class="col-form-label text-md-left fw-bold">予約時間</label>
														<div th:if="${#fields.hasErrors('reservationTime')}"
															class="text-danger small mb-2" th:errors="*{reservationTime}">
														</div>
														<input type="time" class="form-control" name="reservationTime"
															th:field="*{reservationTime}" min="09:00" max="18:00" />
													</div>

													<div class="form-group mb-4">
														<label for="count"
															class="col-form-label text-md-left fw-bold">予約人数</label>
														<div th:if="${#fields.hasErrors('count')}"
															class="text-danger small mb-2" th:errors="*{count}">
														</div>
														<input type="number" class="form-control"
															th:field="*{count}" min="1">
													</div>

													<div class="form-group">
														<button type="submit"
															class="btn text-white shadow-sm w-100 nagoyameshi-btn">予約する</button>
													</div>
												</form>
											</div>
										</div>
								　　</div>

                                  <!--レビュー-->
                                  <div class="text-center">
		                             <div th:if="${successMessage}" class="alert alert-info">
		                                 <span th:text="${successMessage}"></span>
		                             </div>
                                    	<h1>レビュー</h1>
								 　</div>

							 	　<div class="text-center" sec:authorize="isAuthenticated()">
									　<a class="btn text-white shadow-sm w-50 nagoyameshi-btn" th:href="@{/stores/__${store.getId()}__/review/register}">レビューを投稿する</a>
								　</div>

									<div class="container p-3 ">
										<div class="row">
											<div class="col-6 pb-3" th:each="review : ${reviewPage}">
												<div class="card">
													<div class="card-body">
													   <div class="box">
													     <div class="item">
														   <h3 class="card-title mb-3"	th:text="${review.user.name}"></h3>
														 </div>
														 <div class="item" sec:authorize="isAuthenticated()" th:if="${#authentication.principal.user.id == review.getUser().getId()}">
															<a class="text-right" >編集</a>
															<a class="nagoyameshi-link-danger" data-bs-toggle="modal">削除</a>
														 </div>
													   </div>
														 <p class="card-text mb-2"><small class="text-muted"	th:text="${#dates.format(review.getCreatedAt(), 'yyyy年MM月dd日')}"></small></p>
														 <p class="card-text color-1">
																<span th:if="${review.getStar()=='1'}">&#9733;&#9734;&#9734;&#9734;&#9734;</span>
																<span th:if="${review.getStar()=='2'}">&#9733;&#9733;&#9734;&#9734;&#9734;</span>
																<span th:if="${review.getStar()=='3'}">&#9733;&#9733;&#9733;&#9734;&#9734;</span>
																<span th:if="${review.getStar()=='4'}">&#9733;&#9733;&#9733;&#9733;&#9734;</span>
																<span th:if="${review.getStar()=='5'}">&#9733;&#9733;&#9733;&#9733;&#9733;</span>
														 </p>
														 <p class="card-text">
														   <h8 class="card-text mb-3" th:text="${review.getReview()}"></h8>
														</p>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div th:if="${reviewCount > 6}" class="d-flex justify-content-center align-items-center mb-3">
										<a th:href="@{/stores/__${store.getId()}__/review/reviews}">すべてのレビューを見る</a>
									</div>
									<div th:if="${reviewCount == 0}" class="d-flex justify-content-center align-items-center mb-3">
										<p>
											まだレビューがありません。
										</p>
									</div>
                                 </div>
                             </div>
                         </div>
                     </div>
                 </div>
             </main>

             <!-- フッター -->
             <div th:replace="~{fragment :: footer}"></div>
         </div>

         <div th:replace="~{fragment :: scripts}"></div>
		　<!-- Flatpickr -->
		　<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
		　<script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/ja.js"></script>
		　<script th:src="@{/js/flatpickr.js}"></script>
   　</body>
 </html>
